body
{
	margin: 0;
	padding: 0;
}

.navbar-inverse a.brand {
	color: #0085CC;
}

/* FORMS */

textarea {
	height: 200px;
	width: 70%;
}

/* LOGIN */
.login_main {
	margin: 0;
	padding: 0;
}

/* BOOTSTRAP */

.container.body { 
	margin-top: 40px;
}

.span2.left {
	margin-left: 0;
}

.span2.left .well.pages {
	margin-top: 45px;
}

.span2.left .well.pages.none {
	margin-top: 20px;
}

@media (max-width: 979px) {
	.navbar .container { width: 724px; }
}

@media (max-width: 767px) {
	.navbar .container { width: auto; }
	
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-right: 0;
		margin-left: 0;
	}
}